@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";
    Layout = "_Layout";
}

<form class="box row align-items-end" method="get" action="~/persons/index">
    <div class="col-md-4">
        <label for="searchBy" class="form-label visually-hidden">Search by</label>
        <select class="form-select" id="searchBy" name="searchBy">
            @foreach (var field in ViewBag.SearchFields)
            {
                if (field.Key == ViewBag.CurrentSearchBy)
                {
                    <option value="@field.Key" selected>@field.Value</option>
                }
                else
                {
                    <option value="@field.Key">@field.Value</option>
                }
            }
        </select>
    </div>

    <div class="col-md-5">
        <label for="searchString" class="form-label visually-hidden">Search</label>
        <input type="search" id="searchString" name="searchString" class="form-control" placeholder="Search"/>
    </div>

    <div class="col-md-3 d-flex">
        <button type="submit" class="btn btn-primary me-2">Search</button>
        <a href="~/persons/index" class="btn btn-outline-secondary">Clear All</a>
    </div>
</form>

<table class="table table-hover table-bordered table-striped mt">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(pr => pr.PersonName)</th>
        <th>@Html.DisplayNameFor(pr => pr.Email)</th>
        <th>@Html.DisplayNameFor(pr => pr.DateOfBirth)</th>
        <th>@Html.DisplayNameFor(pr => pr.Age)</th>
        <th>@Html.DisplayNameFor(pr => pr.Gender)</th>
        <th>@Html.DisplayNameFor(pr => pr.Country)</th>
        <th>@Html.DisplayNameFor(pr => pr.Address)</th>
        <th>@Html.DisplayNameFor(pr => pr.ReceiveNewsLetter)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.PersonName</td>
            <td>@person.Email</td>
            <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
            <td>@person.Age</td>
            <td>@person.Gender</td>
            <td>@person.Country</td>
            <td>@person.Address</td>
            <td>@person.ReceiveNewsLetter</td>
        </tr>
    }
    </tbody>
</table>
